@model IEnumerable<Samples.EfCore.Web.Book>

@{
    ViewData["Title"] = "Books";
}

<p>
    <a asp-action="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Book ID")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                </td>
            </tr>
        }
    </tbody>
</table>
